<p><img src="https://www.collabco.co.uk/media/1082/logo-small.png" alt="Collabco" /></p>

<h1 id="fullstacktechnicalassessment">Full Stack Technical Assessment</h1>

<p>Firstly, welcome and thank you for considering Collabco the next step in your career and taking the time to show us your dev skills.</p>

<p>The aim of the project is to help demostrate the existing skills you posses and illusate your strengths. If you find yourself struggling on any area, try to move on and focus on where you feel best demonstrates your abilities.</p>

<p>This project has the opportunity to demostrate your skills in the following areas:</p>

<ol>
  <li>C#</li>

  <li>ASP.NET Core</li>

  <li>Angular</li>

  <li>Typescript / Javascript</li>

  <li>CSS</li>

  <li>Unit Testing</li>

  <li>Error handling</li>
</ol>

<p>This sample project uses libraries and frameworks we use here at Collabco, if you are familar with others and feel that would better demonstrate your skills, use that. Don't burn lots of time learning something brand new unless you want to and have the time.</p>

<p>We tend to focus our development efforts around user stories, and feel that rather than a list of prescribed tasks, giving you the freedom to demostrate how you would implement these is much more realistic. In here you will find a selection of user stories to documented with some additional details that may help.</p>

<p>Complete as many of the requirements as you can, and then we will review the code, giving you the opportunity to share your reasoning behind your implementation and for our team to share any feedback they have.</p>

<h2 id="setup">Setup</h2>

<ol>
  <li><a href="https://visualstudio.microsoft.com/thank-you-downloading-visual-studio/?sku=Community&amp;rel=15">Visual Studio</a> or <a href="https://code.visualstudio.com/docs?dv=win&amp;wt.mc_id=DX_841432&amp;sku=codewin">Visual Code</a></li>

  <li><a href="https://nodejs.org/en/">NodeJs</a></li>
</ol>

<h2 id="requirementsanduserstories">Requirements and User Stories</h2>

<p>
  myday is a customisable Digital Campus that collects,
  displays and pushes information from disparate IT systems. <br />
  The myday platform leverages all existing IT investments
  by bringing them together onto one customisable tiled
  interface. Using the adaptable features,
  the platform allows you to execute targeted communications empowering your institute to
  recruit, engage, connect and retain both students and staff.
</p>

<p>
  Students want the ability to manage their
  lives by having access to all relevant information at
  any given time, from any location. For many, this focus on
  the student experience is a key consideration when choosing where to study.
  myday enables students to be better connected even when on the go,
  anytime, anywhere, making their academic experience better!
</p>

<p>
  A huge part of campus life is the courses you chose to undertake as part of your studies.
  This project focuses on providing users with a list of courses they could potentially study.
  Typically, myday will integrate with the institutes systems to provide course data.
</p>

<p>In this instance, course data is available over a web service - https://collabco-course-api.azurewebsites.net/api/v1/Course. </p>

<p>As with all integrations, availability of third party services can have impacts on our applications so be cautious of errors....</p>

<p>With this project we would like to forefil the following user stories:</p>

<ol>
  <li>As a user I must be able to view a list of all courses</li>

  <li>As a user I must be able tivew the course name, a short description, a start date and the duration in months</li>

  <li>As a user I should be able to filter based on start date</li>

  <li>As a user I should be able to filter based on name</li>

  <li>As a user I could be able to view a more detailed description of the course</li>
</ol>

<h2 id="project">Project</h2>

<p>Within the existing project you will find the following:</p>

<ol>
  <li>
    Myday.Course.App
    This is a dotnet core project hosting both a Angular SPA and WebApi endpoints
    To run the project, either click debug in Visual Studio or VS Code or run the following from the command line in the directory:
    <code>
      <br />npm i
      <br />dotnet restore
      <br />dotnet run
    </code>
  </li>
  <li>
    Myday.Course.App.Tests
    This is a xUnit test project setup to run unit tests on the Myday.Course.App project
    To run the project, either use Visual Studio Test Explorer or run the following commands from the command line in the directory:
    <code>
      <br />dotnet restore
      <br />dotnet test
    </code>
  </li>
</ol>

<h2 id="resources">Resources</h2>

<p>We know there may be a few new bits of tech in here so here are a set of resources that should help you fulfill the users requirements.</p>

<ol>
  <li><a href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-2.1">dotnet Core Web Api</a></li>

  <li><a href="https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/testing?view=aspnetcore-2.1">xUnit</a></li>
</ol>

<h2 id="complete">Complete</h2>

<p>When your complete bundle up your project and send it to our team.</p>

<ol>
  <li>Commit all changes locally</li>

  <li>
    Bundle up your repository using the following command:
    <code>
      <br />bash
      <br />git bundle create collabco-full-stack-assessment.bundle --all
    </code>
  </li>

  <li>Upload the file you just created <strong>"collabco-full-stack-assessment.bundle"</strong> to a file sharing provider</li>

  <li>Finally, email our team the download link: luke.miles@collabco.co.uk</li>
</ol>
